<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>词韵听风</title>
    <link href="/static/css/index_style.css" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <div class="container">
            <h1 class="site-name">词  韵  听  风</h1>
            <nav class="navigation">
                <ul>
                    <li><a class="active" href="/index">首页</a></li>
                    <li><a class="active2" href="/word_test">单词测试</a></li>
                    <li><a class="active2" href="Listening_Learning">听力学习</a></li>
                    <li><a class="active2" href="mine">我的</a></li>
                    <li><a class="active_button" href="login">登录</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- 轮播图容器 -->
        <div class="slider-container">
            <!-- 轮播图图片 -->
            <div class="slider">
                <div class="slide">
                    <img src="/static/images/index_1.JPG" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="/static/images/index_2.JPG" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="/static/images/index_3.JPG" alt="Slide 3">
                </div>
            </div>
            <!-- 轮播图导航点 -->
            <div class="slider-dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </main>
</body>
</html>