<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线学习</title>
    <link href="/static/css/Word_Test.css" rel="stylesheet">
</head>
<body>
<header class="page-header">
    <div class="container">
        <h1 class="site-name">词  韵  听  风</h1>
        <nav class="navigation">
            <ul>
                <li><a class="active" href="index">首页</a></li>
                <li><a class="active2" href="Word_Test">单词测试</a></li>
                <li><a class="active2" href="Listening_Learning">听力学习</a></li>
                <li><a class="active2" href="mine">我的</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="feature">
        <div class="container">
            <div class="word-container">
                <p style="font-size: 60px">test</p>
                <p style="font-size: 30px">asdfghjkl</p>
            </div>
        </div>
    </section>

</main>

</body>
</html>
