<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>登录页面</title>
</head>

<body>
    <div class="container">
        <!-- 登录表单 -->
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>登录</h1>
                <input type="text" name="username" placeholder="用户名" />
                <input type="password" name="password" placeholder="密码" />
                <input class="button" type="submit" value="登录">
            </form>
        </div>
        <!-- 切换面板 -->
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>欢迎来到词韵听风！</h1>
                    <p>还未加入我们？马上注册，解锁海量英语学习资源，开启高效英语学习之旅 ！</p>
                    <a href="register" class="button ghost">注册</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>