<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择词库</title>
    <link href="/static/css/Select_Library.css" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <div class="container">
            <h1 class="site-name">词  韵  听  风</h1>
            <nav class="navigation">
                <ul>
                    <li><a class="active" href="index">首页</a></li>
                    <li><a class="active2" href="/select_library">单词测试</a></li>
                    <li><a class="active2" href="Listening_Learning">听力学习</a></li>
                    <li><a class="active2" href="mine">我的</a></li>
                    <li><a class="active_button" href="login">登录</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="library-select-container">
            <form action="/start_word_test" method="post">
                <label for="library_id">选择词库:</label>
                <select id="library_id" name="library_id">
                    <option value="">全部词库</option>
                    {% for library in libraries %}
                    <option value="{{ library[0] }}">{{ library[1] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="开始测试">
            </form>
        </div>
    </main>
</body>

</html>